* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: #018DED url('./imgs/background-img.jpg');
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
  }
